@font-face {
    font-family: "TT Lakes";
    src: local("TT Likes"),
        url("../src/fonts/TTLakes-Regular.woff") format("woff");
}

body {
    font-family: "TT Lakes";
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    margin-top: 16px;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    height: 87px;
}

.navigation>svg:first-of-type {
    display: none;
}

.navigation button {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.navigation__menu {
    background-image: url(../src/img/menu.svg);
}

.navigation__repair {
    background-image: url(../src/img/repair.svg);
}

.navigation__checkstatus {
    background-image: url(../src/img/checkstatus.svg);
}

.navigation__call {
    background-image: url(../src/img/call.svg);
    margin-left: 250px;

}

.navigation__chat {
    background-image: url(../src/img/chat.svg)
}

.navigation__profile {
    background-image: url(../src/img/profile.svg);
}



.main__title {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 24px;
}

.main__title>h1 {
    margin-left: 16px;
}

.submenu {
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    margin-top: 24px;
    padding-left: 16px;
}


.submenu__item {
    padding: 8px 16px;
    color: #7E7E82;
    text-decoration: none;
}

.submenu__item_activ {
    background: #FFFFFF;
    border: solid 2px #B8FFEC;
    border-radius: 6px;
    padding: 8px 16px;
    color: #7E7E82;
    text-decoration: none;
}

.content__text {
    margin-left: 16px;
}

.content__link {
    margin-left: 24px;
    text-decoration: none;
    color: #1B1C21;
}

.content__link> :last-child {
    margin-left: 16px;
}

@media (min-width: 768px) {

    .navigation>svg:first-of-type,
    .navigation__call,
    .navigation__chat,
    .navigation__profile {
        display: flex;
    }

    .main__content {
        display: flex;
        justify-content: space-around;
    }

    img {
        border-radius: 6px;
    }

    .content__text,
    .content__img {
        width: 50%;
    }

    .content__img {
        margin: 0 25px;
    }

    .content__text>[hidden] {
        display: block;
        height: 40px;
        overflow: hidden;
    }
}

@media (min-width: 1120px) {
    .navigation__button {
        display: flex;
        align-items: center;
        visibility: visible;
    }

    .main__title {
        position: absolute;
        top: 0px;
    }

    .navigation__button>label {
        display: inline;
        margin-right: 8px;
    }


    .content__text>[hidden] {
        height: auto;
    }

    .submenu {
        flex-wrap: wrap;
        overflow: auto;
    }

    .navigation {
        visibility: hidden;
    }
}